/* Title */
.name {
  font-family: "Playfair Display", "Times New Roman", sans-serif;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* Nav */
.menu {
  font-family: "Playfair Display", "Times New Roman", sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu a:hover {
  border: outset;
  border-color: cornflowerblue;
  margin: -4px;
}

.menu a:active {
  border: inset;
  border-color: cornflowerblue;
}

/* Mariah Angeliq */
.mariah-angeliq {
  font-family: "Playfair Display", "Time New Roman", sans-serif;
  font-size: 50px;
  color: black;
  height: 1500px;
  display: flex;
}

.mariah-angeliq h1 {
  font-family: "JetBrains Mono", "Time New Roman", sans-serif;
}

.mariah-angeliq p {
  font-size: 20px;
  line-height: 30px;
}

.mariah-main-image {
  height: 800px;
  width: 50%;
  margin: 24px;
}

/* First linear gradient */
.blend-one {
  height: 60px;
  background-image: linear-gradient(#fff, rgba(247, 188, 156, 1));
  border: 0;
  margin: 0;
}

/* Second Section */
.mariah-section-two {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #f7bc9c;
}

.mariah-image-two {
  font-size: 25px;
  width: 50%;
  margin: 25px;
}