/* Title */
.name {
    font-family: "Playfair Display", "Times New Roman", sans-serif;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* Nav */
.menu {
    font-family: "Playfair Display", "Times New Roman", sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    border: outset;
    border-color: cornflowerblue;
    margin: -4px;
}

.menu a:active {
    border: inset;
    border-color: cornflowerblue;
}

/* Albums of the year */
.albums-list {
    font-family: "Playfair Display", "Times New Roman", sans-serif;
}

/* Feid */
.best {
    font-family: "JetBrains Mono", "Time New Roman", sans-serif;
    font-size: 70px;
}

.smitty {
    display: flex;
}

.feid-photo {
    height: 800px;
    width: 50%;
    margin: 25px;
}

.feid-lyrics {
    font-family: "Playfair Display", "Times New Roman", sans-serif;
    font-size: 64px;
    margin: 25px;
}

.feid-album {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.feid-album-praise {
    font-size: 25px;
    width: 50%;
    margin: 25px;
}

.feid-cover {
    display: none;
}

/* First linear gradient  */
.blend-one {
    height: 60px;
    background-image: linear-gradient(#fff, rgba(23, 65, 120, 1));
    border: 0;
    margin: 0;
}

/* Vince Staples */
.vince-staples {
    height: 700px;
    background-color: #174178;
    color: #fff3d6;
    display: flex;
}

.vince-staples-video {
    padding: 44px;
}

.vince-staples-lyrics {
    font-family: "Work Sans", "Times New Roman", sans-serif;
    font-size: 64px;
    font-weight: bold;
    margin: 25px;
}

.vince-staples-album-praise {
    background-color: #174178;
    color: #fff3d6;
    height: 650px;
    font-family: "Work Sans", "Times New Roman", sans-serif;
    font-size: 25px;
    display: flex;
}

.vince-staples-album-praise p {
    padding: 50px;
    line-height: 40px;
}

.vince-staples-cover {
    display: none;
}

/* Second linear gradient */
.blend-two {
    height: 60px;
    background-image: linear-gradient(rgba(23, 65, 120, 1), rgba(178, 139, 232, 1));
    border: 0;
    margin: 0;
}

/* Joyce Wrice */
.joyce-wrice {
    font-family: "Raleway", "Times New Roman", sans-serif;
    background-color: #b28be8;
    color: #d6dfff;
    height: 1000px;
    display: flex;
    align-items: center;
}

.joyce-wrice-video {
    padding: 24px;
}

.joyce-wrice-lyrics {
    font-weight: bold;
    font-size: 64px;
    margin: 25px;
}

.joyce-wrice-album-praise {
    font-family: "Raleway", "Times New Roman", sans-serif;
    font-size: 35px;
    font-weight: bold;
    background-color: #b28be8;
    color: #d6dfff;
    height: 575px;
    display: flex;
}

.joyce-wrice-album-praise p {
    padding: 50px;
    line-height: 55px;
    position: relative;
    bottom: 150px;
}

.joyce-wrice-cover {
    display: none;
}

/* Third linear gradient */
.blend-three {
    height: 60px;
    background-image: linear-gradient(rgba(178, 139, 232, 1), rgba(21, 75, 161, 1));
    border: 0;
    margin: 0;
}

/* Footer */
/* .blend-into-footer {
    background-image: linear-gradient(rgba(178, 139, 232, 1), rgba(21, 75, 161, 1));
    height: 50px;
    border: 0;
    margin-top: 25px;
    margin-bottom: -16px;
} */

footer {
    background-color: #154ba1;
    height: 130px;
    color: white;
}

footer p {
    padding: 50px;
}

/* Mobile version */
@media (max-width: 500px) {
    /* Nav section */
    .menu {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      line-height: 5px;
    }

    .menu a {
      text-decoration: none;
      color: black;
    }

    .menu a:hover {
      border: outset;
      border-color: cornflowerblue;
      margin: -4px;
    }

    .menu a:active {
      border: inset;
      border-color: cornflowerblue;
    }

    .menu a:last-child {
        display: none;
    }
    
    /* Albums of the year */
    .best {
        font-size: 50px;
        margin: 25px;
    }
    
    /* Feid */
    .feid-album {
        display: flex;
        flex-direction: column;
        margin: 25px;
    }
    
    .smitty {
        display: none;
    }
    .feid-video {
        display: none;
    }
    
    .feid-album-praise {
        width: 100%;
        overflow: auto;
        height: 500px;
    }
    
    .feid-cover {
        width: 100%;
        display: unset;
    }
    
    /* Vince Staples */
    .vince-staples {
        display: none;
    }
    
    .vince-staples-cover {
        display: unset;
        align-self: center;
        width: 60%;
        position: relative;
        top: 35px;
    }
    
    .vince-staples-album-praise {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 700px;
        overflow: auto;
    }
    
    .vince-staples-album-praise img {
        position: relative;
        top: 875px;
    }
    
    .vince-staples-album-praise p {
        position: relative;
        top: 875px;
    }
    
    /* Joyce Wrice */
    .joyce-wrice {
        display: none;
    }
    
    .joyce-wrice-album-praise {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 700px;
        overflow: auto;
    }
    
    .joyce-wrice-album-praise p {
        font-size: 30px;
        position: relative;
        top: 825px;
    }
    
    .joyce-wrice-cover {
        display: unset;
        align-self: center;
        width: 70%;
        position: relative;
        top: 875px;
    }
}